* {
    margin: 0;
    padding: 0;
}

.playlist {
    color: rgba(255, 255, 255, 0.87);
    width: 45%;
    background-color: #161616;
    padding: 20px;
    min-height: 90vh;
    border-radius: 10px;
    box-shadow: 1px 2px 15px rgba(0,0,0,0.6);

}

.playlist ul {
    list-style-type: none;
}



.playlist input, .playlist .submitButton {
    border: none;
    height: 40px;
    width: 100%;
}   

.playlist .white {
    background-color: rgba(255, 255, 255, 0.87);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: black;
    font-size: 16px;
}

.playlist .green {
    background-color: #1Db954;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: rgba(255,255,255,0.87);
    font-size: 16px;
}

